
<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="container">

        <form action="/form-submit" method="POST">

            <h2 style="margin-top: 100px;">Slack notifications</h2>

            <div class="row">
                <div class="six columns">

                    <label for="exampleEmailInput">Your name</label>
                    <input class="u-full-width" type="text" name="name" placeholder="nilima singh" required>

                    <label for="exampleEmailInput">Your email</label>
                    <input class="u-full-width" type="email" name="email" placeholder="nilima789kumari@gmail.com" required>

                    <button class="button-primary" type="submit">Submit</button>

                </div>
            </div>

        </form>

    </div>

</body>

</html>